* {
    margin: auto;
    padding: auto;
    font-family: sans-serif;
}

body {
    margin: 0 200px;
    background-color:gainsboro;
}

header {
    position: fixed;
    top:0;
    left: 200px;
    height: 70px;
    right: 200px;
    display: flex;
    background-color: gray;
}

.titulo {
    position: absolute;
    top: 20px;
    left: 10px;
    color: white;
    }

.subtitulo {
    position: absolute;
    top: 52px;
    left: 60px;
    color:white;
    font-size:14px;
}

.menu {
    position: absolute;
    top: 40px;
    right: 10px;
    }

nav {
    height: 100%;
    width: 100%;
}

li {
    list-style: none; /* no muestra la bolita */
    padding: 0 10px;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: black;
    }

section {
    background-color: white;
}

article {

    margin-top: 70px;
    padding-top: 20px;
}


.titulos {

    padding: 10px 10px;
    color:black(109, 106, 106);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.texto {
    padding: 10px 10px;
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

.resaltar {
    color: red;
}

.nota  {
    padding: 0 50px;
    color:black;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.imagen {
    display: table;
    text-align: center;

}

.imagen img {
    padding: 0;
    margin: 0;
    max-height: 517px;
    max-width: 920px;
    width: 100%;
    height: auto;
}

.pieImagen {

    line-height:normal;
    font-size:10px;
    font-weight: 600;
    color:black;
    text-align:right;
    margin-top: 0;
}


footer {
    font-size: 12px;
    font-family: cursive;
    color: teal;
    background-color: white;
    padding: 20px 30px 0 0;
    text-align: right;
}




@media only screen and (max-width: 983px){
    header {
        height: 45px;
    }
    
    .titulo {
        top: 0;
        width: 100%;
        text-align: center;
        font-size: 24px;
        }
    
    .subtitulo {
        display: none;
    }
    
    .menu {
        position: none;
        top: 25px;
        margin-bottom: 0;
        width: 100%;
        right: 0;
        }

    ul {
        width: 100%;
        padding: 0;
        text-align: center;
    }

    li {
        font-size: 8px;
        line-height: 1rem;
        text-align: right;
    }

    article {

        margin-top: 40px;
        padding-top: 0;
    }

    .titulos {
        font-size: 17px;
    }
    
    .texto {
        padding: 0 10px;
        font-size: 10px;
    }
        
    .nota  {
        padding: 0 30px;
        font-size: 10px;
    }

    .pieImagen {
        font-size:8px;
    }

    footer {
        font-size: 8px;
    }
}
@media only screen and (max-width: 769px){
    header {
        height: 40px;
    }
        
    .titulo {
        top: 12px;
        width: 50%;
        text-align: center;
        font-size: 12px;
        }
        
    .subtitulo {
        display: none;
    }
    
    .menu {
        margin-top: 0;
        top:0;
        right: 0;
        }
 
    ul {
        padding: 0;
        margin-top: 2px;
    }

    li {
        display: block;
        line-height: 9px;
    }
    
    article {
        margin-top: 40px;
        padding-top: 0;
    }
    
    .titulos {
        font-size: 15px;
    }
    
    .texto {
        padding: 0 10px;
        font-size: 8px;
    }
        
    .nota  {
        padding: 0 30px;
        font-size: 8px;
    }

    .pieImagen {
        font-size:6px;
    }
    footer {
        font-size: 6px;
    }
    }