* {
    margin: auto;
    padding: auto;
    font-family: sans-serif;
}

body {
    margin: 0 200px;
    background-color:gainsboro;
}

header {
    position: fixed;
    top:0;
    left: 200px;
    height: 70px;
    right: 200px;
    display: flex;
    background-color: white;
}

.titulo {
    position: absolute;
    top: 20px;
    left: 10px;
    color: grey;
    }

.subtitulo {
    position: absolute;
    top: 52px;
    left: 60px;
    color:grey;
    font-size:14px;
}

.menu {
    position: absolute;
    top: 40px;
    right: 10px;
    }

nav {
    height: 100%;
    width: 100%;
}

li {
    list-style: none; /* no muestra la bolita */
    padding: 0 10px;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: black;
    }
main {
    background-color: white;
    margin-top: 70px;
}
.tabla{
    padding: 20px 0;
    background-color: rgb(75, 77, 77);
}
table{
    color: white;
}

th {
    padding: 5px 20px 10px 20px;
}

td{
    padding: 2px 15px;
    text-align: center;
    font-size: 12px;
}

table tbody tr a {
    text-decoration: none;
    color: white;

}
.imagen img{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 10px 0;
}



main section h1 {
    background-color:lightsteelblue;
    color: black;
    margin: 0 15px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
}

.contenedor {
    display: flex;
    /*width: 900px;*/
}

.lateral {
    margin-top: 20px;
    left: 10px;
    top: 100px;
    width: 150px;
    position: sticky;
    font-size: 14px;
}

.lateral h1 {
    width: auto;
    text-align: center;
}

.noticias {
    padding: 20px 0 0 0;
    right: 220px;
    width: 700px;
}

.tituloNoticias {

    color:rgb(109, 106, 106);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0 0 10px 10px;
    font-size: 20px;
}

.contenidonoticia {
    width: auto;
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0 10px 30px 10px;
    font-size: 12px;

}

.lineaDivision {
    background-color: gray;
    margin-left: 10px;
}

footer {
    font-size: 12px;
    font-family: cursive;
    color: teal;
    background-color: white;
    padding: 0 30px 0 0;
    text-align: right;
}

@media only screen and (max-width: 983px){
    header {
        height: 45px;
    }
    
    .titulo {
        top: 0;
        width: 100%;
        text-align: center;
        font-size: 24px;
        }
    
    .subtitulo {
        display: none;
    }
    
    .menu {
        position: none;
        top: 25px;
        margin-bottom: 0;
        width: 100%;
        right: 0;
        }

    ul {
        width: 100%;
        padding: 0;
        text-align: center;
    }

    li {
        font-size: 8px;
        line-height: 1rem;
        text-align: right;
    }

    .tabla{
        padding: 5px 0;
    }

    th {
        padding: 5px 5px 5px 10px;
        text-align: center;
        font-size: 10px;
    }
    
    td{
        padding: 0;
        font-size: 8px;
    }
    
    main {
        margin-top: 45px;
    }

    main section h1 {
        font-size: 20px;
        margin: 0px;
    }
    
    .lateral {
    top: 60px;
    font-size: 8px;
    }
    
    .tituloNoticias {
        font-size: 15px;
    }
    
    .contenidonoticia {
        font-size: 8px;
    
    }
    
    .lineaDivision {
        background-color: gray;
        margin-left: 10px;
    }

    .imagen img{
        padding-top: 8px;
    }
    
    footer {
        font-size: 8px;
    }
}

@media only screen and (max-width: 769px){
    header {
        height: 40px;
        right: 200px;
    }
    
    .titulo {
        top: 12px;
        width: 50%;
        text-align: center;
        font-size: 12px;
        }
    
    .subtitulo {
        display: none;
    }
    
    .menu {
        margin-top: 0;
        top:0;
        right: 0;
        }

    ul {
        padding: 0;
        margin-top: 2px;
    }

    li {
        display: block;
        line-height: 9px;
    }

    .tabla{
        padding: 5px 0;
    }
    
    th {
        padding: 1px;
        text-align: center;
        font-size: 6px;
    }
    
    td{
        padding: 0;
        font-size: 4px;
    }
    
    main {
        margin-top: 40px;
    }

    main section h1 {
        font-size: 20px;
        margin: 0px;
    }
    
    .lateral {
    top: 60px;
    font-size: 8px;
    }
    

    .tituloNoticias {
        font-size: 15px;
    }
    
    .contenidonoticia {
        font-size: 8px;
    
    }

    .imagen img{
        padding-top: 5px;
    }
    
    
    footer {
        font-size: 6px;
    }
    }