* {
    margin: auto;
    padding: auto;
    font-family: sans-serif;
}

body {
    margin: 0 200px;
    background-color:gainsboro;
}

header {
    position: fixed;
    top:0;
    left: 200px;
    height: 70px;
    right: 200px;
    display: flex;
    background-color: gray;
}

.titulo {
    position: absolute;
    top: 20px;
    left: 10px;
    color: white;
    }

.subtitulo {
    position: absolute;
    top: 52px;
    left: 60px;
    color:white;
    font-size:14px;
}

.menu {
    position: absolute;
    top: 40px;
    right: 10px;
    }

nav {
    height: 100%;
    width: 100%;
}

li {
    list-style: none; /* no muestra la bolita */
    padding: 0 10px;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: black;
    }

body {
    margin: 0 200px;
    background-color:gainsboro;
    
}

.titulos {

    padding: 5px 10px;
    color:black(109, 106, 106);
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-align: center;
}


form {

    margin-top: 70px;
    padding: 10px;
    background-color: white;
}

.lblDatosPersonales {

    padding: 5px;
    margin: 5px;
    font-weight: 600;
    color: grey;
}

input {

    padding: 5px;
    margin: 5px;
}

.leyenda {
    padding: 15px 5px;
    margin: 5px;
    text-align: center;
    font-weight: 600;
}

.marco {

    border-top: none;
    border-color:gainsboro;
}

.contenedor {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: wrap;
    margin-top: 5px;
}

.contenido {
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

.lblCont {

    margin-top: 0;
    padding: 5px;
    margin: 5px;
    font-weight: 600;
    color: grey;
}

.boton {

    background-color: gray;
    color: white;
    border-radius: 12px;
    font-size: 20px;
}
  
  .boton:hover {
    background-color:black;
    color: white;
    height: 110%;
    width: 110%;
  }

#cajatexto {
    width: 100%;
    min-height: 90%;
    height: 120px;
    padding:5px;

}

.botones {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 10px 15px 0 15px;
}

footer {
    font-size: 12px;
    font-family: cursive;
    color: teal;
    background-color: white;
    padding: 0 30px 0 0;
    text-align: right;

}



@media only screen and (max-width: 983px){

    header {
        height: 45px;
    }
    
    .titulo {
        top: 0;
        width: 100%;
        text-align: center;
        font-size: 24px;
        }
    
    .subtitulo {
        display: none;
    }
    
    .menu {
        position: none;
        top: 25px;
        margin-bottom: 0;
        width: 100%;
        right: 0;
        }
   
    ul {
        width: 100%;
        padding: 0;
        text-align: center;
    }

    li {
        font-size: 8px;
        line-height: 1rem;
        text-align: right;
    }

    .titulos {
        font-size: 20px;
    }
    
    
    form {
        margin-top: 40px;
    }
    
    .lblDatosPersonales {
        font-size: 12px;
    }
    
    .leyenda {
        font-size: 16px;
    }
    
    .contenido {
        font-size: 12px;
    }
    
    .boton {
        font-size: 12px;
    }

    footer {
        font-size: 8px;
    }
}
@media only screen and (max-width: 769px){
    header {
        height: 40px;
    }
        
    .titulo {
        top: 12px;
        width: 50%;
        text-align: center;
        font-size: 12px;
        }
        
    .subtitulo {
        display: none;
    }
    
    .menu {
        margin-top: 0;
        top:0;
        right: 0;
        }
  
    ul {
        padding: 0;
        margin-top: 2px;
    }

    li {
        display: block;
        line-height: 9px;
    }

    .titulos {
        font-size: 14px;
    }
    
    
    form {
        margin-top: 40px;
    }
    
    .lblDatosPersonales {
        font-size: 8px;
    }
    .lblDatosPersonales input {
        font-size: 8px;
    }
    
    .leyenda {
        font-size: 12px;
    }
    
    .contenido {
        font-size: 8px;
    }
        
    .boton {
        font-size: 8px;
    }

    
    #cajatexto {
        padding:5px;
    }
    
    footer {
        font-size: 6px;
    }
    }